In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("animedata.csv")

In [17]:
df.head()

,name,Type,Plot Summary,Genre,Released,Status,Other name
0,A Channel,TV Series,Toeru takes a test so she can enter the same ...,"Comedy, School, Seinen, Slice of Life",2011.0,Completed,A-Channel
1,A Channel Ova,TV Series,Toeru takes a test so she can enter the same ...,"Comedy, School, Seinen, Slice of Life",2012.0,Completed,"A-Channel+smile, Aチャンネル+smile（プラス スマイル）"
2,A Channel Special,TV Series,Toeru takes a test so she can enter the same ...,"Comedy, School, Seinen, Slice of Life",2011.0,Completed,A-Channel
3,A Day Before Us,ONA,A Day Before Us is an animated Korean drama o...,Romance,2018.0,Completed,A Day Before Us (Season Zero)
4,A Disguised Princess,ONA,"""Ken always disguised herself as a man. She w...","Comedy, Drama, Fantasy, Gender Bender, Histor...",2021.0,Completed,NaN

In [23]:
df['text'] = "name: "+df['name'] + " plot summary: " +df['Plot Summary']

In [29]:
my_list =df['text'].tolist()

In [32]:
my_list = [str(element) for element in my_list]

In [33]:
file_path= 'input.txt'

In [34]:
with open(file_path, 'w') as file:
    file.writelines('\n'.join(my_list))

print("List saved as a text file.")

List saved as a text file.